@model WebApp_Rds_Access.Models.Students

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form class="form-horizontal" method="post" asp-controller="Account" asp-action="Register">
    <div class="form-group">
        <label>FirstName</label>
        <input type="text" class="form-control" asp-for="FirstName" placeholder="First Name" />
        <span class="text-danger" asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label>LastName</label>
        <input type="text" class="form-control" asp-for="LastName" placeholder="Last Name" />
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" asp-for="Email" placeholder="Email Address" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" asp-for="StudentPW" placeholder="Password" />
        <span class="text-danger" asp-validation-for="StudentPW"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Sign up</button>

        <a class="btn btn-warning" href="#">cancel</a>
    </div>

</form>

